#container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

#canvas-container {
    background:url('../images/home_winter.png') no-repeat;
    display: inline-block;
    height: 500px;
    width: 500px;
}

.selectors {
    display: inline-block;
    position: absolute;
    top: 0;
    padding: 0 15px;
}

#start-animation {
    display: block;
    margin-bottom: 20px;
}

#background-selector {
    margin-top: 30px;
}

.credit {
    padding: 5px 15px 0;
    text-align: right;
    font-size: 14px;

    a {
        color: #003098;
        text-decoration: none;

        &:hover {
            color: #0068d0;
        }
    }
}

@media ( max-width: 768px ) {

    #canvas-container {
        margin: auto;
        display: block;
    }

    .selectors {
        margin: auto;
        position: relative;
        top: inherit;
        padding: 30px 0;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;

        .text {
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            -ms-flex-order: 2;
            -webkit-order: 2;
            order: 2;
            margin-top: 30px;
        }

        .forms {
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;
        }
    }

    #start-animation {
        display: inline-block;
        margin: auto;
    }
}

@media ( max-width: 530px ) {

    #canvas-container {
        height: 100%;
        width: 100%;
        background-size: cover;

        canvas {
            height: 100%;
            width: 100%;
        }
    }


}