.selectors {
  margin-top: 20px;

  @media ( min-width: $medium ) {
    flex-basis: calc( 100% - 520px );
    margin-left: 20px;
    margin-top: 0;
  }
}

.btn-start {
  display: inline-block;
  margin-right: 20px;

  @media ( min-width: $medium ) {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.background-form {
  margin-top: 30px;
}


