@import 'foundation';

#container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

#canvas-container {
    background:url('../images/home_winter.png') no-repeat;
    display: inline-block;
    height: 500px;
    width: 500px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.selectors {
    display: inline-block;
    position: absolute;
    top: 0;
    padding: 0 15px;
}

#start-animation {
    display: block;
    margin-bottom: 20px;
}

#background-selector {
    margin-top: 30px;
}

.credit {
    padding: 5px 15px 0;
    text-align: right;
    font-size: 14px;

    a {
        color: #003098;
        text-decoration: none;

        &:hover {
            color: #0068d0;
        }
    }
}

@media ( max-width: 768px ) {

    #canvas-container {
        margin: auto;
        display: block;
    }

    .selectors {
        margin: auto;
        position: relative;
        top: inherit;
        padding: 15px 0;
    }

    #start-animation {
        display: inline-block;
        margin: auto;
    }
}

@media ( max-width: 530px ) {

    #canvas-container {
        height: 100%;
        width: 100%;
        background-size: cover;

        canvas {
            height: 100%;
            width: 100%;
        }
    }
}