doctype html
html( lang="en" )
  head
    title Feed Jack HTML5 Canvas Application
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .credit
      a(href="http://www.seeyouspacecow.com", target="_blank") See You Space Cow

    #root

    noscript You need to enable JavaScript to run this app.

    script(src="./scripts.js")