:root {
  --blue: #003098;
  --blue-light: #0068d0;
}

.credit {
  font-size: 14px;
  padding: 5px 15px 0;
  text-align: right;

  > a {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.4s linear;

    &:hover {
      color: var(--blue-light);
    }
  }
}