doctype html
html( lang="en" )
  head
    title Feed Jack HTML5 Canvas Application
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/style.min.css")
  body
    .credit
      a(href="http://www.seeyouspacecow.com", target="_blank") See You Space Cow

    .container
      #js-canvas-container.canvas-container
        canvas#js-canvas.canvas(height="500", width="500") Canvas is not supported by your browser

      .selectors
        div
          h1 Feed Jack!
          p Use the dropdowns below to select a food item or change the background.
          p You can change to a different item during the animation or stop the animation altogether.

        div
          form#js-food-form
            label Select food
            select#js-food-select
            input#js-start.btn-start(type="submit", value="Start Animation")
            input#js-stop(type="button", value="Stop Animation")
          form#js-background-form.background-form
            label Change background
            select#js-background-select
              option(value="assets/images/home_winter.png") Home (Winter)
              option(value="assets/images/home_bedroom.png") Bedroom
              option(value="assets/images/church.png") Church
              option(value="assets/images/cow-shed.png") Cow Shed
              option(value="assets/images/fishing-spot.png") Fishing Spot (Winter)
              option(value="assets/images/home_kitchen.png") Kitchen
              option(value="assets/images/town_bar.png") Town Bar (Winter)
            input(type="submit", value="Change Background")

    script(src="assets/js/scripts.min.js")